*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}
.buttons_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

#box1{
background: rosybrown;
height: 200px;
width: 200px;
}

#box2{
background: rgb(222, 72, 72);
height: 200px;
width: 200px;
}
#box3{
background: rgb(173, 218, 83);
height: 200px;
width: 200px;
}
#box4{
background: rgb(96, 199, 189);
height: 200px;
width: 200px;
}