/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  /* Centering wrapper */
  .game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full screen height */
    padding: 1rem; /* Padding for mobile view */
  }
  p{
    margin: 5px 0px;
  }
  /* Container for content */
  .container {
    max-width: 600px;
    width: 100%;
    background-color: #111;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Input and button styling */
  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  #submt_button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px;
  }
  
  button:hover {
    background-color: #ddd;
  }
  